body {
    font-family: 'Times New Roman', serif;
    background-color: #f5e4d7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px;
    background-color: #c8c3b9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.message-container {
    text-align: center;
}

.message {
    background: #f5e4d7;
    color: #333;
    font-size: 14px;
    line-height: 4em;
    margin-bottom: 1em;
    border-radius: .4em;
    padding: 0 1em;
    position: relative;
    text-align: center;
    vertical-align: top;
    display: inline-block;
  }

  .message:after {
      border: 1em solid transparent;
      border-top-color: #f5e4d7;
      content: "";
      margin-left: -1em;
      position: absolute;
          top: 100%;
          left: 50%;
      width: 0;
      height: 0;
  }

  .bigger-text {
    font-size: 1.2em;
  }

  .smaller-text {
    font-size: 0.8em;
  }

h1 {
    color: #82977e; 
    font-family: 'Copperplate', sans-serif;
    text-align: center;
}

h2 {
    color: #334;
    font-family: 'Copperplate', sans-serif;
    text-align: center;
}

h3 {
    color: #334;
    font-family: 'Copperplate', sans-serif;
    text-align: center;
}

p {
    color: #334;
    line-height: 1.6;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

hr {
    border: none;
    border-top: 2px solid #334;a4ab9c
    margin-top: 20px;
}

a:link, a:visited {
    background-color: #a4ab9c;
    color: #334;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;  
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
  }

  ul.flashes {
    text-align: center;
    color: #334;
    font-family: 'Copperplate', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    list-style: none;
    padding: 20px;
  }

  form {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

form .login-button, form .register-button {
    text-align: center;
}

  .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  input[type="submit"] {
    background-color: #a4ab9c;
    color: #334;
    padding: 10px 15px;
    border: none; 
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
}

input[type="text"],
input[type="password"] {
    width: 40%; 
    padding: 10px 10px;
    margin: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}