
<head>
    <title>CSB Chat - Admin site</title>
 </head>
 {% extends "layout.html" %}
 {% block content %}
 <div class="container">
<h2>Delete message </h2>
<p>Hi admin, you can delete messages by ticking the box of the message you would like to delete and press "Delete messages".</p>
<div class="message-container">
<form action="/admin" method="POST">
    {% for message in messages %}
    <div class="message">
        <p><span class="bigger-text">{{ message.message }}</span></p>
        <p><i>- {{ message.username }}</i></p>
        <p><i>Sent: {{ message.sent_at.strftime("%d.%m.%Y %H:%M") }}</i></p>
        </div>
        <p>
<input type="checkbox" name="message_id" value={{ message.id }}> Delete
<br>
{% endfor %}
</div>
<p>
<input type="submit" value="Delete messages">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</div>
{% endblock %}