<head>
  <title>CSB Messages - Home</title>
</head>
{% extends "layout.html" %}
{% block content %}
<div class="container">
<h2>Welcome to CSB Messages</h2>
<p>
    {% if session.user_id %}
    <p>Thanks for logging in! You can now write a message or read all written messages. You also have the chance to update your username.</p>
    <div class="button-group">
    <a href="/new_message">Post new message</a>
    <a href="/list">List all messages</a>
    <a href="/update_username">Update username</a>
    </div>
    {% else %}

<p>If you don't yet have an account, you can register below. If you already have registered, please login using the login form.</p>

<p>
  <form action="/login" method="POST">
      <p>Username:<br>
      <input type="text" name="username"></p>
      <p>Password:<br>
      <input type="password" name="password"></p>
      <input type="submit" value="Login">
      </form>
<p>
<hr>
<form action="/register" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Register">
</form>
<p>
    {% endif %}
  </div>
  {% endblock %}
