<head>
  <title>CSB Chat - Home</title>
</head>
{% extends "layout.html" %}
{% block content %}
<div class="container">
<h2>Welcome to CSB Messages</h2>
<br>
    {% if session.user_id %}
    <p>What would you like to do next?</p>
    <div class="button-group">
    <a href="/chat">Chat</a>
    <a href="/update_username">Update username</a>
    </div>
    {% else %}

<p>If you already have registered, please login using the login form below.</p>
  <form action="/login" method="POST">
      <p>Username:<br>
      <input type="text" name="username"></p>
      <p>Password:<br>
      <input type="password" name="password"></p>
      <input type="submit" value="Login">
      </form>
<p>
<hr>
<br>
<p>If you don't yet have an account, you can register below.</p>
<form action="/register" method="POST">
    <p>Username:</p>
    <p><span class="smaller-text">4 - 40 characters long</span><br>
    <input type="text" name="username"></p>
    <p>Password:</p>
    <p><span class="smaller-text">8 - 40 characters long and must include atleast one number and one capital letter</span><br>
    <input type="password" name="password"></p>
    <input type="submit" value="Register">
</form>
<p>
    {% endif %}
  </div>
  {% endblock %}
